<link rel="stylesheet" href="/assets/anythingslider.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="/assets/theme-metallic.css" type="text/css" media="screen"/>


<script type="text/javascript" src="/assets/jquery.anythingslider.js"></script>

<%= image_tag (@comic.pages.first.panel.url), :style => "position:absolute; width:960px; left:0; top:0;"  %>

<div style="left: 0px; top: 850px;  position: relative; height: 220px; width: 900px; text-align:center; float: left; z-index: 9999">

<div id="slider" style="height: 300px; width: 840px; position: relative;">
  <% @comic.pages.first.options.each do |option| %>

        <%= image_tag option.panel.url, :style => "height:220px; width:400px; " %>
      <%#= link_to (image_tag(option.panel.url, :style => "height:220px; width:400px;")) %>

  <% end %>
</div>
</div>


<script type="text/javascript">
    $(function () {
        $('#slider').anythingSlider(); // add any non-default options here
    });
</script>


