<style type="text/css">

    #app_desc_area {
        border: 2px solid #123456;
        border-radius: 5px;
        height: 480px;
        width: 250px;
        left: 10px;
        right: 30px;
        position: absolute;
        margin: 10px 10px 0 10px;
        padding: 10px 10px 0 10px;
        background-color: #add8e6;
        opacity: 0.6;
        filter: alpha(opacity = 60); /* For IE8 and earlier */
        /*float: left;*/

    }

    #app_desc_text {
        /*top: -430px;*/
        position: relative;
        text-align: center;
        vertical-align: text-top;
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        color: #000000;
        padding: 10px;
    }

    #app_logo {
        position: absolute;
        height: 120px;
        width: 360px;
        /*left: 465px;*/
        right: 190px;
        float: left;
        /*clear: both;*/
        margin: 10px;
        padding: 10px;
    }

    .img_area {
        height: 195px;
        width: 660px;
        left: 270px;
        position: relative;
        /*border: 2px solid gray;*/
        /*border-radius: 5px;*/
        /*float: right;*/
        top: 275px;
        margin: 10px;
        padding: 10px;

    }

    #img_area_01 {
        border: 2px solid #ffe4c4;
        border-radius: 5px;
        height: 120px;
        width: 130px;
        padding: 10px;
        margin: 30px 0px 0px 5px;
        float: left;
        position: relative;
    }

    #img_area_02 {
        border: 2px solid #ffe4c4;
        border-radius: 5px;
        height: 120px;
        width: 130px;
        padding: 10px;
        margin: 30px 5px 0px 10px;
        position: relative;
        float: left;
    }

    #img_area_03 {
        border: 2px solid #ffe4c4;
        border-radius: 5px;
        height: 120px;
        width: 130px;
        padding: 10px;
        margin: 30px 5px 0px 5px;
        position: relative;
        float: left;
    }

    #img_area_04 {
        border: 2px solid #ffe4c4;
        border-radius: 5px;
        height: 120px;
        width: 130px;
        padding: 10px;
        margin: 30px 5px 0px 5px;
        position: relative;
        float: left;
    }

</style>


<div id="app_desc_area">
  <div id="app_desc_text">

    ComiChron is Ptotem's suite of story-based simulations on subjects ranging from accounting to supply chain management.

  </div>
</div>

<div id="app_logo">
  <img src="/assets/logo_03.gif" style="height:100%; width:100%; padding: 10px 10px 10px 0px; margin: 0px 10px 10px 0px;"> </img>
</div>

<div class="img_area">

  <div id="img_area_01"><img src="/assets/batman.jpg" style="height:120px; width:130px;"> </img> </div>

  <div id="img_area_02"><img src="/assets/Bane.jpg" style="height:120px; width:130px;"> </img> </div>

  <div id="img_area_03"><img src="/assets/batman_vs_bane.jpg" style="height:120px; width:130px;"> </img> </div>

  <div id="img_area_04"><img src="/assets/batman_won.jpg" style="height:120px; width:130px;"> </img> </div>

</div>



